html,
body {
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Padauk', sans-serif!important;
  padding: 0;
  margin: 0;
  
}

::-webkit-scrollbar{
  display: none;
}

.MuiCardContent-root{
  border-radius: 30px!important;
}
